body {
 
  background-image: url("merlion.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.nav-link{
	font-family: 'Merriweather', serif;
	font-size: 20px;
	
}
.color-c{
	font-family: 'Merriweather', serif;
	font-size: 30px;
}