img {
 
  background-image: url("singapore_mbs.jpg") no-repeat;
  height: 100%;
  width: 100%;
  background-size: cover;
  
}

.nav-link{
	font-family: 'Merriweather', serif;
	font-size: 20px;

}
.color-c{
	font-family: 'Merriweather', serif;
	font-size: 30px;
}